public/n8n-qbo-monthly-report-workflow.json
{
  "name": "QBO_Monthly_Financial_Report",
  "nodes": [
    {
      "parameters": {
        "path": "prod/qbo/monthly-report",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Trigger: Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [-2080, 1632],
      "id": "webhook-trigger",
      "webhookId": "monthly-report-webhook"
    },
    {
      "parameters": {
        "jsCode": "const q = $input.first().json.query || {};\nconst missing = !q.realmId || !q.token || !q.month || !q.year;\n\n// Get month and year from query params\nconst year = parseInt(q.year);\nconst month = parseInt(q.month);\nconst baseUrl = 'https://quickbooks.api.intuit.com';\n\n// MTD: Month-to-date (1st of month to last day of month)\nconst mtd_start = `${year}-${String(month).padStart(2, '0')}-01`;\nconst mtd_end = new Date(year, month, 0).toISOString().slice(0,10);\n\n// QTD: Quarter-to-date\nconst quarter = Math.ceil(month / 3);\nconst qtd_start = `${year}-${String((quarter - 1) * 3 + 1).padStart(2, '0')}-01`;\nconst qtd_end = mtd_end; // End at the same month end\n\n// Previous month for comparison\nconst prev_month_start = new Date(year, month - 2, 1).toISOString().slice(0,10);\nconst prev_month_end = new Date(year, month - 1, 0).toISOString().slice(0,10);\n\n// Previous year same month for YoY\nconst prev_year_start = `${year-1}-${String(month).padStart(2, '0')}-01`;\nconst prev_year_end = new Date(year-1, month, 0).toISOString().slice(0,10);\n\nreturn [{ json: { \n  baseUrl, \n  realmId: q.realmId||null, \n  token: q.token||null,\n  month,\n  year,\n  quarter,\n  mtd_start,\n  mtd_end,\n  qtd_start, \n  qtd_end,\n  prev_month_start,\n  prev_month_end,\n  prev_year_start,\n  prev_year_end,\n  missing \n}}];"
      },
      "name": "Prep: MTD & QTD Ranges",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-1856, 1632],
      "id": "prep-params"
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $json.missing }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ]
        }
      },
      "name": "IF Missing Params",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [-1632, 1632],
      "id": "check-params"
    },
    {
      "parameters": {
        "responseCode": 400,
        "responseBody": "{\"error\": \"Missing required parameters: realmId, token, month, year\"}"
      },
      "name": "400 Bad Request",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [-1408, 1056],
      "id": "bad-request"
    },
    {
      "parameters": {
        "url": "={{$json.baseUrl}}/v3/company/{{$json.realmId}}/reports/ProfitAndLoss",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {"name": "start_date", "value": "={{$json.mtd_start}}"},
            {"name": "end_date", "value": "={{$json.mtd_end}}"},
            {"name": "minorversion", "value": "65"}
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "Authorization", "value": "=Bearer {{$json.token}}"},
            {"name": "Accept", "value": "application/json"}
          ]
        }
      },
      "name": "QBO: P&L MTD",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [-1408, 1248],
      "id": "pl-mtd"
    },
    {
      "parameters": {
        "url": "={{$json.baseUrl}}/v3/company/{{$json.realmId}}/reports/ProfitAndLoss",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {"name": "start_date", "value": "={{$json.qtd_start}}"},
            {"name": "end_date", "value": "={{$json.qtd_end}}"},
            {"name": "minorversion", "value": "65"}
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "Authorization", "value": "=Bearer {{$json.token}}"},
            {"name": "Accept", "value": "application/json"}
          ]
        }
      },
      "name": "QBO: P&L QTD",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [-1408, 1440],
      "id": "pl-qtd"
    },
    {
      "parameters": {
        "url": "={{$json.baseUrl}}/v3/company/{{$json.realmId}}/reports/BalanceSheet",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {"name": "date", "value": "={{$json.mtd_end}}"},
            {"name": "minorversion", "value": "65"}
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "Authorization", "value": "=Bearer {{$json.token}}"},
            {"name": "Accept", "value": "application/json"}
          ]
        }
      },
      "name": "QBO: Balance Sheet",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [-1184, 1632],
      "id": "balance-sheet"
    },
    {
      "parameters": {
        "url": "={{$json.baseUrl}}/v3/company/{{$json.realmId}}/reports/CashFlow",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {"name": "start_date", "value": "={{$json.mtd_start}}"},
            {"name": "end_date", "value": "={{$json.mtd_end}}"},
            {"name": "minorversion", "value": "65"}
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "Authorization", "value": "=Bearer {{$json.token}}"},
            {"name": "Accept", "value": "application/json"}
          ]
        }
      },
      "name": "QBO: Cash Flow MTD",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [-960, 1824],
      "id": "cash-flow"
    },
    {
      "parameters": {
        "url": "={{$json.baseUrl}}/v3/company/{{$json.realmId}}/reports/AgedReceivables",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {"name": "report_date", "value": "={{$json.mtd_end}}"},
            {"name": "minorversion", "value": "65"}
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "Authorization", "value": "=Bearer {{$json.token}}"},
            {"name": "Accept", "value": "application/json"}
          ]
        }
      },
      "name": "QBO: AR Aging",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [-736, 2016],
      "id": "ar-aging"
    },
    {
      "parameters": {
        "url": "={{$json.baseUrl}}/v3/company/{{$json.realmId}}/reports/AgedPayables",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {"name": "report_date", "value": "={{$json.mtd_end}}"},
            {"name": "minorversion", "value": "65"}
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "Authorization", "value": "=Bearer {{$json.token}}"},
            {"name": "Accept", "value": "application/json"}
          ]
        }
      },
      "name": "QBO: AP Aging",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [-512, 2208],
      "id": "ap-aging"
    },
    {
      "parameters": {
        "jsCode": "// Format P&L MTD like your existing workflow\nreturn {\n  \"plMTD\": {\n    \"headers\": $input.first().json.Header,\n    \"columns\": $input.first().json.Columns,\n    \"rows\": $input.first().json.Rows\n  }\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-1184, 1248],
      "id": "format-pl-mtd",
      "name": "Format P&L MTD"
    },
    {
      "parameters": {
        "jsCode": "// Format P&L QTD like your existing workflow\nreturn {\n  \"plQTD\": {\n    \"headers\": $input.first().json.Header,\n    \"columns\": $input.first().json.Columns,\n    \"rows\": $input.first().json.Rows\n  }\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-1184, 1440],
      "id": "format-pl-qtd",
      "name": "Format P&L QTD"
    },
    {
      "parameters": {
        "jsCode": "// Format Balance Sheet like your existing workflow\nreturn {\n  \"balanceSheet\": {\n    \"headers\": $input.first().json.Header,\n    \"columns\": $input.first().json.Columns,\n    \"rows\": $input.first().json.Rows\n  }\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-960, 1632],
      "id": "format-balance-sheet",
      "name": "Format Balance Sheet"
    },
    {
      "parameters": {
        "jsCode": "// Format Cash Flow like your existing workflow\nreturn {\n  \"cashFlow\": {\n    \"headers\": $input.first().json.Header,\n    \"columns\": $input.first().json.Columns,\n    \"rows\": $input.first().json.Rows\n  }\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-736, 1824],
      "id": "format-cash-flow",
      "name": "Format Cash Flow"
    },
    {
      "parameters": {
        "jsCode": "// Format AR like your existing workflow\nreturn {\n  \"ar\": {\n    \"headers\": $input.first().json.Header,\n    \"columns\": $input.first().json.Columns,\n    \"rows\": $input.first().json.Rows\n  }\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-512, 2016],
      "id": "format-ar",
      "name": "Format AR"
    },
    {
      "parameters": {
        "jsCode": "// Format AP like your existing workflow\nreturn {\n  \"ap\": {\n    \"headers\": $input.first().json.Header,\n    \"columns\": $input.first().json.Columns,\n    \"rows\": $input.first().json.Rows\n  }\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-288, 2208],
      "id": "format-ap",
      "name": "Format AP"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [-960, 1344],
      "id": "merge1",
      "name": "Merge1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [-736, 1440],
      "id": "merge2",
      "name": "Merge2"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [-512, 1536],
      "id": "merge3",
      "name": "Merge3"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [-288, 1632],
      "id": "merge4",
      "name": "Merge4"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [-64, 1728],
      "id": "merge5",
      "name": "Merge5"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [160, 1728],
      "id": "respond-success"
    }
  ],
  "connections": {
    "Trigger: Webhook": {
      "main": [[{"node": "Prep: MTD & QTD Ranges", "type": "main", "index": 0}]]
    },
    "Prep: MTD & QTD Ranges": {
      "main": [[{"node": "IF Missing Params", "type": "main", "index": 0}]]
    },
    "IF Missing Params": {
      "main": [
        [{"node": "400 Bad Request", "type": "main", "index": 0}],
        [
          {"node": "QBO: P&L MTD", "type": "main", "index": 0},
          {"node": "QBO: P&L QTD", "type": "main", "index": 0},
          {"node": "QBO: Balance Sheet", "type": "main", "index": 0},
          {"node": "QBO: Cash Flow MTD", "type": "main", "index": 0},
          {"node": "QBO: AR Aging", "type": "main", "index": 0},
          {"node": "QBO: AP Aging", "type": "main", "index": 0}
        ]
      ]
    },
    "QBO: P&L MTD": {
      "main": [[{"node": "Format P&L MTD", "type": "main", "index": 0}]]
    },
    "QBO: P&L QTD": {
      "main": [[{"node": "Format P&L QTD", "type": "main", "index": 0}]]
    },
    "QBO: Balance Sheet": {
      "main": [[{"node": "Format Balance Sheet", "type": "main", "index": 0}]]
    },
    "QBO: Cash Flow MTD": {
      "main": [[{"node": "Format Cash Flow", "type": "main", "index": 0}]]
    },
    "QBO: AR Aging": {
      "main": [[{"node": "Format AR", "type": "main", "index": 0}]]
    },
    "QBO: AP Aging": {
      "main": [[{"node": "Format AP", "type": "main", "index": 0}]]
    },
    "Format P&L MTD": {
      "main": [[{"node": "Merge1", "type": "main", "index": 0}]]
    },
    "Format P&L QTD": {
      "main": [[{"node": "Merge1", "type": "main", "index": 1}]]
    },
    "Format Balance Sheet": {
      "main": [[{"node": "Merge2", "type": "main", "index": 1}]]
    },
    "Format Cash Flow": {
      "main": [[{"node": "Merge3", "type": "main", "index": 1}]]
    },
    "Format AR": {
      "main": [[{"node": "Merge4", "type": "main", "index": 1}]]
    },
    "Format AP": {
      "main": [[{"node": "Merge5", "type": "main", "index": 1}]]
    },
    "Merge1": {
      "main": [[{"node": "Merge2", "type": "main", "index": 0}]]
    },
    "Merge2": {
      "main": [[{"node": "Merge3", "type": "main", "index": 0}]]
    },
    "Merge3": {
      "main": [[{"node": "Merge4", "type": "main", "index": 0}]]
    },
    "Merge4": {
      "main": [[{"node": "Merge5", "type": "main", "index": 0}]]
    },
    "Merge5": {
      "main": [[{"node": "Respond", "type": "main", "index": 0}]]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "description": "QuickBooks Online Monthly Financial Report workflow. Fetches MTD and QTD financial data including P&L, Balance Sheet, Cash Flow, AR/AP Aging. Query params: realmId, token, month, year"
  }
}